# Puerto del servidor backend
PORT=8080

# Rutas de base de datos y Podman
DB_PATH=/home/user/.deltagames/deltagames.db
PODMAN_SOCKET=/run/user/1000/podman/podman.sock
TEMPLATES_DIR=containers/templates
DATA_DIR=/home/user/.deltagames/servers

# Clave secreta para JWT
JWT_SECRET=your_secret_key_here
